{% extends "base.html" %}

{% block title %} {{ object.title }} - {{ block.super }} {% endblock %}

{% block content %}
	{% block breadcrumb %} 
		<div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <a href="{% url 'category_posts_page' slug=object.category.slug %}">{{ object.category.title }}</a> »
			<span class="current">正文</span>
		</div>
	{% endblock %}
    
    <div class="post-main clearfix">
        <h1 class="post-title">{{ object.title }} </h1>
        <div class="post-con clearfix">
            <div class="article-meta">
                <span class="item">分类：<a href="{% url 'category_posts_page' slug=object.category.slug %}">{{ object.category.title }}</a></span>
                <span class="item">作者：{{ object.author }}</span>
                <span class="item">浏览：{{ visitor_counter }}</span>
                <span class="item">{{ object.created }}</span>
            </div>
            
        <article class="article-content">
            <p>{{ object.description|safe }}</p>
        </article>

        <div class="post-tag"><span class="fa fa-tags" aria-hidden="true"></span>标签：
              {% for tag in object.tags.all %}
                <a href="{% url 'tag_posts_page' slug=tag.slug %}">{{ tag }}</a>
              {% empty %}无
              {% endfor %}
        </div>

        <div>
            <div><b>上一篇：</b>
                {% if object.get_previous_by_created %}
                    <a href="{% url 'detail_post_page' slug=object.get_previous_by_created.slug %}">{{ object.get_previous_by_created.title }}</a>
                {% else %}
                    没有了
                {% endif %}
            </div>
            
            <div><b>下一篇：</b>
                {% if object.get_next_by_created %}
                    <a href="{% url 'detail_post_page' slug=object.get_next_by_created.slug %}">{{ object.get_next_by_created.title }}</a>
                {% else %}
                    没有了	
                {% endif %}					
            </div>
        </div>
    </div>

        </div>
        <!-- /文章 -->

        <div class="recommend  hidden-xs">

            <div class="head clearfix"><span class="sp">您可能感兴趣的:</span></div>
            <ul>
                {% for post in related_posts %}
                    <li>
                        <div class="pic">
                            <a href="{% url "detail_post_page" slug=post.slug %}" title="{{ post.title }}"><img src="/media/{{ post.cover }}" srcset="/media/{{ post.cover }}" alt="{{ post.title }}" class="wp-post-image" width="145" height="100"></a>
                        </div>
                        <a class="descript " href="{% url "detail_post_page" slug=post.slug %}" title="{{ post.title }}">{{ post.title }}</a>
                    </li>
                    
                    {% empty %}
                      <p style="margin: 1em;">没有相关文章!</p>
                {% endfor %}
            </ul>
        </div>

{% endblock %}
