{% extends "blog/blog_home.html" %}
{% block title %}{{ category }} - {{ block.super }}{% endblock %}
{% block canonical_url %}https://{{ request.get_host }}{% url 'tag_posts_page' slug=tag.slug %}{% endblock %}

{% block breadcrumb %}
    <div class="breadcrumb">您的位置： <a itemprop="breadcrumb" href="/">首页</a> » <a href="{% url 'category_posts_page' slug=category.slug %}">{{ category.title }}</a> </span>
    </div>
{% endblock %}

{% block content_title %}
<!--p class="message__info">Post under tag: <i>"{{ tag }}"</i></p-->
类别: {{ category }}
{% endblock %}
